@model IEnumerable<WebApplication2.Models.Book>

<h2>Список книг</h2>

<a class="btn btn-primary" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">По Названию</a>
<a class="btn btn-primary" asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSort">По дате Публикации</a>
<a class="btn btn-primary" asp-action="Index" asp-route-sortOrder="@ViewBag.AuthorSort">По Автору</a>
<a class="btn btn-primary" asp-action="Index" asp-route-sortOrder="@ViewBag.TagSort">По жанру</a>


<div class="jopa_card">
    @foreach (var item in Model)
    {
        <div class="product-item">
           <div class="aspect-ratio aspect-ratio-4x3">
              <img src="@item.image_link" class="card-img-top img-fluid" alt="Product Image">
           </div>
           <div class="product-list">
                <div class="bg"></div>
                <div class="bg bg2"></div>
                <div class="bg bg3"></div>
                <h3>Название: @item.Name</h3>
                <span class="price">Автор: @item.Author.Name</span>
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.ID" class="button">Купить в один клик</a>
                <br>
                <br>
                <a asp-action="Order" asp-controller="Home" asp-route-id="@item.ID" class="button">Заказать</a>
                <a asp-action="BookDetail" asp-controller="Home" asp-route-id="@item.ID" class="button">Подробнее</a>
                <BR/>
                <BR/>
                <div class="mb-5">
                    <a asp-action="Reviews" asp-controller="Home" asp-route-id="@item.ID" class="button">Оставить отзыв</a>


                </div>

            </div>
        </div>
        <br><br/>
    }
</div>


<style>
    .jopa_card {
    
    margin-top: 20px;
        display: flex;
          justify-content: space-between;
            flex-wrap: wrap;
    }
    * {
       box-sizing: border-box;
    }
    .product-item {
       display: block;
       width: 200px;
       text-align: center;
       margin: 0 auto;
       border-bottom: 2px solid #F5F5F5;
       background: white;
       font-family: "Open Sans";
       transition: .3s ease-in;
    }
    .product-item:hover {
       border-bottom: 2px solid #fc5a5a;
    }
    .product-item img {
       display: block;
       width: 100%;
    }
    .product-list {
       background: #fafafa;
       padding: 15px 0;
    }
    .product-list h3 {
       font-size: 18px;
       font-weight: 400;
       color: #444444;
       margin: 0 0 10px 0;
    }
    .price {
       font-size: 16px;
       color: #fc5a5a;
       display: block;
       margin-bottom: 12px;
    }
    .button {
       text-decoration: none;
       display: inline-block;
       padding: 0 12px;
       background: #cccccc;
       color: white;
       text-transform: uppercase;
       font-size: 12px;
       line-height: 28px;
       transition: .3s ease-in;
    }
    .product-item:hover .button {
       background: #fc5a5a;
    }
    .product-item img {
      object-fit: cover; 
      object-position: center center; 
      width: 100%; 
      height: 300px; 
    }
    .product-item h3 {
      font-size: 16px; /* добавить так чтобы всё вмещалось */
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      max-width: 100%; 
    }


</style>