@model List<SearchResult>

<h2>Результат поиска</h2>
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Жанр</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Подробнее</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr class="book-row" data-id="@result.BookID">
                        <td>@result.Name</td>
                        <td>@result.Tags</td>
                        <td>@result.Auth</td>
                        <td data-id="@result.BookID">
                            <a href="@Url.Action("BookDetail", "Home", new { id = result.BookID })" class="btn btn-primary">Подробнее</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No results found.</p>
}


